body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: url('assets/photos/brick-wall.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.menu-item:hover { 
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

  body, h1 {
    margin: 0;
  }
  
  .menu a {
    text-decoration: none;
    color: rgb(0, 0, 0); 
  }
  
  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
  
  h1 {
    font-family: 'What-a-Bloat, regular';
    background-color: hsla(0, 0%, 0%, 0.356);   
    color: white;
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 200px; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
  }
  
  h1 p {
    margin-top: 10px;
    font-size: 16px; 
  }
  body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .menu {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 360px);
    gap: 50px;
    padding: 75px;

  }
  
  .menu-item {
    background-color: #3b39396c;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    max-width: 40rem;
    max-height: 40rem;
    
  }

  .menu a {
    text-decoration: none;
    color: black;
    padding: 25px;
    display: block;
  }
  
  .menu-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }