body {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
  }
  
    body, h1 {
      margin: 0;
  
    }
    
  
    h1 {
      font-family: 'What-a-Bloat,   cursive';
      position: relative;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      height: 200px; 
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
  
    }

    .sektion {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 10fr;
        column-gap: 96vw;
        margin: 0 20px; /* Adjust the 20px value to increase or decrease the horizontal spacing */
        width: 100%;
        min-height: 100vh;
        background-size: cover; 
        background-position: center; 
        background-attachment: fixed; 
      }
    
    .sektion h1 {
      
      grid-column: 1 / -1;
      text-align: center;
    }
    
    .sektion p {
        position: relative; /* Added this line */
        padding: 0px;
        grid-row: 2;
        grid-column: 1;
        padding: 5%;
        top: 10px;
        left: 20vw; /* Reduced from 10vw to 2vw */
    }
  
    .sektion p span {
      display: inline;
      background-color: rgba(255, 254, 254, 0.151);
      padding: .5px;
    }